$font-stack: Helvetica, sans-serif;
$primary-color: #1C1C1C;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  color: $primary-color;
}

header {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 16px 40px;
  background-color: #1F2937;
  border: 12px dashed white;
}

span, p {
  font-size: 19px;
}

fieldset {
  width: 100%;
  border: 0;
  padding: 0;
}

label {
  width: 75%;
  display: block;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media(max-width: 768px) {
  header {
    border: 0;
  }
}